
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container {
    width: 1170px;
}

.col-md-4 {
  text-align: center;
}

.list-1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: white !important;
  justify-content: flex-start;
  align-items: baseline;
}

.rainbow {
  background-image: linear-gradient(90deg, #d268f8 0%, #d268f8 12.5%, #f868b2 12.5%, #f868b2 25%, #f88a68 25%, #f88a68 37.5%, #f8f568 37.5%, #f8f568 50%, #8ef868 50%, #8ef868 62.5%, #68f8ae 62.5%, #68f8ae 75%, #68d6f8 75%, #68d6f8 87.5%, #686af8 87.5%, #686af8 100%);
background-size: 100% 15%;
  background-repeat: repeat-x;
  background-position: left 0% bottom 10%;
}

.menu-list-1 {
  /*min-height: 300px;*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  background-color: white !important;
}

.header span{
  font-family: 'Allura' cusiver;
  /*color: #ff69b4;*/
  line-height: 30px;
}
.dart-fs-48 {
    font-size: 8em;
color: 000;
  font-family: 'Fredoka One', sans-serif;
  text-shadow: 0.25rem -0.25rem rgba(255, 0, 255, 0.75), -0.25rem -0.25rem rgba(0, 255, 255, 0.75), 0 0.5rem rgba(255, 255, 0, 0.75);
}

.header{
  text-align: center;
  margin-top: 10px;
}
.header h1{
  coler: #333;
  letter-spacing: 2px;
  margin-top: 0;
  margin-buttom: 0;
  font-weight: bold;
  text-transform: uppercase;
}
.header hr{
  background-color: #333333;
  height: 2px;
  width: 100px;
  boder: none;
  margin-top: 10px;
}
.menu-food .menu-food-pennal li.food-spicy, .menu-food .menu-food-pennal li:hover {
    padding:;
    position: relative;
    color: #666;
    background-color:;
    border-top-left-radius: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 10px;
    transition: all 500ms ease-in-out;
}
.menu-food .menu-food-pennal {
    padding: 0;
    margin: 10px;
    height: 100px;
    /*border-bottom: 3px solid #ff69b4;*/
    /*border-bottom: 5px solid transparent;*/
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-image: linear-gradient(90deg, #d268f8 0%, #d268f8 12.5%, #f868b2 12.5%, #f868b2 25%, #f88a68 25%, #f88a68 37.5%, #f8f568 37.5%, #f8f568 50%, #8ef868 50%, #8ef868 62.5%, #68f8ae 62.5%, #68f8ae 75%, #68d6f8 75%, #68d6f8 87.5%, #686af8 87.5%,
#686af8 100%);
    border-image-slice: 100%;
    border-image-slice: 1;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
}

.menu-food .menu-food-pennal li {
    float: left;
    list-style-type: none;
    text-align: center;
    width: 12.5%;
    color: #666;
    padding: 25px 0;
    font-size: 15px;
    display: block;
    cursor: pointer;
    height: 98px;   
}
.hinh-1{
  border-radius: 50%;
}
.menu-list-1 .dish-name {
    padding: 6px 0 0 10px;
    overflow: hidden;
}
.dishs-price {
    color: #ff69b4;
    font-weight: 600;
    font-size: 1.2857142857142858em;
}
.menu-list-1 {
    margin-bottom: 40px;
    min-height: 110px;
    padding-bottom: 40px;
    /*border-bottom: 1px dashed #ccc;*/
    
}
.food-list{
      padding-top: 30px;
      background-color: #fff;
    
    }

.mon-1{
    position: relative;
    min-height: 1px;
    padding-left: 45px;
    padding-right: 45px;
}
  .menu-food .menu-food-pennal .food-1, .menu-food .menu-food-pennal .food-2,.menu-food .menu-food-pennal .food-3,.menu-food .menu-food-pennal .food-4, .menu-food .menu-food-pennal .food-5,.menu-food .menu-food-pennal .food-6,.menu-food .menu-food-pennal .food-7,.menu-food .menu-food-pennal .food-8,.menu-food .menu-food-pennal .food-9,.menu-food .menu-food-pennal .food-10
  {
    height: 46px;
    width: 46px;
    background-repeat: no-repeat;
    transition: all ease 0.2s;
    margin: 0 auto;
    margin-bottom: 5px;
}
menu-food .menu-food-pennal li span {
    display: none;
}

.menu-food .menu-food-pennal .food-1 {
    background-position: 0 0;
}
 .menu-food .menu-food-pennal .food-2 {
    background-position: -115px -0px;
}
.menu-food .menu-food-pennal .food-3 {
    background-position: -232px 0;
}
.menu-food .menu-food-pennal .food-4 {
    background-position: -349px 0;
}
.menu-food .menu-food-pennal .food-5 {
    background-position: -467px 0;
}

.menu-food .menu-food-pennal .food-6 {
    background-position: -583px 0;
}
.menu-food .menu-food-pennal .food-7 {
    background-position: -699px 0;
}
.menu-food .menu-food-pennal .food-8 {
    background-position: -815px 0;
}

.menu-food .menu-food-pennal .food-9 {
    background-position: -931px 0;
}

.menu-food .menu-food-pennal .food-10 {
    background-position: -1047px 0;
}

.logogif{
  display: none;
}

@media only screen and (min-width: 600px) {
  .hinh-1 {
    width: 40%;
    height: 40%;
  }

  p {
    font-size: 1em;
  }

  h4 {
    font-size: 0.5em;
  }

  .logogif {
    display: inline;
  }

  .diamond-wrap {
    display: none;
  }

  .logowindow {
    transform: scale(1);
  }

  .bodydia {
    height: auto;
  }
}